
body {
	background-color: #00A8E6;
	color: white;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	display: none;
}

#intro {
  position: absolute;;
	margin-left: 40%;
	font-family: sans-serif;
}




#projects_container {
	position: absolute;
	height: 90%;
	bottom: 0;
	width:100%;
}

#row {
	width: 100%;
}

table{
	height: 100%;
}

td {
	text-align: center;
	width: 33%;
	border: 3px solid white;
	transition: background-color 0.5s linear;
}

td:hover {
	background-color: #3232ff;

}

/*
#projects_td {
	opacity: .5;
transition: opacity .5s ease-out;
-moz-transition: opacity .5s ease-out;
-webkit-transition: opacity .5s ease-out;
-o-transition: opacity .5s ease-out;
}

#projects_td:hover {
	opacity: 1;
}
*/
