
body {
	background-color: #00A8E6;
	color: white;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	display: none;
}

#intro {
  position: absolute;;
	margin-left: 45%;
	font-family: sans-serif;
}

#experience_container {
	position: absolute;
	height: 80%;
	bottom: 0;
	width:100%;
}

table {
	height: 100%;
	width:100%;
}

.main_table {
	border: 3px solid white;
}

.image_and_title_div {
	text-align:center;
	float: left;
	margin-left: 20%;
}

.description {
	position: absolute;
	margin-left: 40%;
}

img {
	width: 50%;
}
